<!DOCTYPE html>
<html> 
	<head>
		<title>SecondHW</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/var2_profile.css"> 
		<link rel="stylesheet" href="../css/var2_profile_medium.css"> 
		<link rel="stylesheet" href="../css/var2_profile_mobile.css"> 	
	</head>

	<body>
		<div id="grid-menu">
			<div id="profile-menu">
				<div id="grid-profile">
					<div id="grid-profile__title" class="profile-border">
						<p class="profile-menu__title">Профиль</p>
					</div>

					<div id="grid-profile__info" class="profile-border"></div>

					<div id="grid-profile__info__lastname" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Фамилия</p>
						<p class="profile-menu__info__value">Иванов</p>
					</div>

					<div id="grid-profile__info__firstname" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Имя</p>
						<p class="profile-menu__info__value">Иван</p>
					</div>

					<div id="grid-profile__info__nickname" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Никнейм</p>
						<p class="profile-menu__info__value">vileven</p>
					</div>

					<div id="grid-profile__info__date" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Дата рождения</p>
						<p class="profile-menu__info__value">15.06.1997</p>
					</div>

					<div id="grid-profile__info__sex" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Пол</p>
						<p class="profile-menu__info__value">Мужской</p>
					</div>

					<div id="grid-profile__info__email" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Email</p>
						<p class="profile-menu__info__value">lol@kek</p>
					</div>

					<div id="grid-profile__info__phone" class="profile-menu__info__cell">
						<p class="profile-menu__info__tag ">Телефон</p>
						<p class="profile-menu__info__value">+7 (965) 432-**-**</p>						
					</div>

					<div id="grid-profile__action" class="profile-border">
						<div class="center">
							<button class="profile-menu__action__change">
								<img src="../img/icons/actions/user_edit.svg" class="profile-menu__action__change__img">
								<span style="vertical-align: top;">Изменить</span>
							</button>
							<button class="profile-menu__action__delete">
								<div style="filter: contrast(3%);">
									<img src="../img/icons/actions/delete.svg" class="profile-menu__action__delete__img">
									<span style="vertical-align: top;">Удалить</span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>